.orderItem {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px;
}

.orderItem button {
  background-color: rgb(134, 104, 255);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.orderItem button:hover{
  background-color: rgb(110, 77, 244);
}