.modal {
  position: relative;
  background-color: white;
  max-width: 500px;
  margin: 0 20px;
}

.bgModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.129);
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  background-color: rgb(173, 237, 173);
  padding: 30px 20px;
}

.header h2 {
  font-weight: 500;
  font-size: 26px;
  margin-top: 5px;
}

.contentModal {
  padding: 0 20px;
}

.section {
  padding: 20px 0;
}

.section:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.section>*:not(:last-child) {
  margin-bottom: 10px;
}

.section h3,
.section p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h3 {
  font-size: 24px;
}

.boldSpan {
  font-weight: 700;
}

.lightSpan {
  font-weight: 300;
}

.closeBtnModal {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
  background-color: white;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
}

.qtt {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: white;
  border: 1px solid lightgray;
}