.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 80px;
  height: 100vh;
  min-width: 80px;
  width: 80px;
  border-right: 1px solid lightgray;
  position: fixed;
  top: 0;
  bottom: 0;
}

.navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  font-size: 14px;
  color: black;
}