.calculatorPrice {
  margin-top: auto;
}

.btn {
  display: block;
  background-color: rgb(240, 28, 71);
  /* margin-left: auto; */
  cursor: pointer;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: crimson;

}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.infoText {
  color: gray;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.valueInfoText {
  font-weight: 700;
  font-size: 14px;
}