.checkoutContainer {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: auto;
  border-radius: 10px;
  right: 20px;
  overflow: hidden;
}

.checkoutContainer h1 {
  margin-bottom: 20px;
}

.products {
  margin-bottom: 20px;
}


@media screen and (max-width:820px) {
  .checkoutContainer {
    margin: 0;
  }
}