.checkoutContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  position: fixed;
  width: 250px;
  top: 20px;
  bottom: 20px;
  height: auto;
  border-radius: 10px;
  right: 20px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.checkoutContainer h1 {
  margin-bottom: 20px;
}

.products {
  overflow-y: auto;
}

.products::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}