*,
::before,
::after,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}


body {
  background-color: #f7f5f5;
}

main {
  padding: .1px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.grid {
  margin: 0 270px 0 80px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto auto;
  grid-auto-rows: auto;
  gap: 20px;
  flex-wrap: wrap;
}


.filterContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  grid-column: 1/-1;
  grid-row: 1/2;
}